@page
@model NutricionApp.Frontend.Pages.NoEncontradoModel
@{
}
 <h1>Usuario No Encontrado</h1>
<div><br>
    <a class="btn btn-success col-md-2" asp-page="/Registrarse/Registrarse">Registrarse</a>
    <a class="col-sm-1 "  asp-page="../Index">Regresar</a>
</div>

