@page
@model PrivacyModel
@{
  ViewData["Title"] = "Registro de Nutricionista";
}

<br>
<h1>Registro de Nutricionista</h1>
<br>
<br>
<form class="row g-3 needs-validation" novalidate>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Identificación</label>
    <input type="text" class="form-control" id="validationCustom01" value="" required>
    <div class="valid-feedback">
      Registra un valor en este campo!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Nombres</label>
    <input type="text" class="form-control" id="validationCustom02" value="" required>
    <div class="valid-feedback">
      Registra un valor en este campo!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom03" class="form-label">Apellidos</label>
    <input type="text" class="form-control" id="validationCustom03" value="" required>
    <div class="valid-feedback">
      Registra un valor en este campo!
    </div>
  </div>
  <p></p>
  <p></p>
  <div class="col-md-4">
    <label for="validationCustom04" class="form-label">Correo Electrónico</label>
    <input type="text" class="form-control" id="validationCustom04" value="" required>
    <div class="valid-feedback">
      Registra un valor en este campo!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom05" class="form-label">Numero de Teléfono</label>
    <input type="text" class="form-control" id="validationCustom05" value="" required>
    <div class="valid-feedback">
      Registra un valor en este campo!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom06" class="form-label">Número Tarjeta Profesional</label>
    <input type="text" class="form-control" id="validationCustom06" value="" required>
    <div class="valid-feedback">
      Registra un valor en este campo!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom07" class="form-label">Contraseña</label>
    <input type="text" class="form-control" id="validationCustom07" value="" required>
    <div class="valid-feedback">
      Registra un valor en este campo!
    </div>
  </div>
  <div class="col-12">
    <br>
    <button class="btn btn-primary" type="submit">Registrar Datos</button>
    <a asp-page="/Index" class="btn btn-success" form-control>Home</a>
  </div>
</form>