@page
@using NutricionApp.Dominio
@model NutricionApp.Frontend.Pages.Coaches.ActualizarModel
@{
}
<h2 class="text-info">Actualizacion de Datos Coach</h2>

<form method="post">
    <div>
        <div class="col-md-2"></div>
        <label asp-for="Coach.Id"></label>
        <div class="col-sm-2">
        <input asp-for="Coach.Id" class="form-control" readonly>
        </div>
    </div>
    <div>
        <div class="col-md-2">
        <label asp-for="Coach.Identificacion"></label>
        </div>
        <div class="col-sm-2">
        <input asp-for="Coach.Identificacion" class="form-control">
        </div>
        <span asp-validation-for="Coach.Identificacion" class="text-danger"></span>
    </div>
    <div>
        <div class="col-md-2">
        <label asp-for="Coach.Nombre"></label>
        </div>
        <div class="col-sm-2">
        <input asp-for="Coach.Nombre" class="form-control">
        </div>
        <span asp-validation-for="Coach.Nombre" class="text-danger"></span>
    </div>
    <div>
        <div class="col-md-2">
        <label asp-for="Coach.Apellidos"></label>
        </div>
        <div class="col-sm-2">
        <input asp-for="Coach.Apellidos" class="form-control">
        </div>
        <span asp-validation-for="Coach.Apellidos" class="text-danger"></span>
    </div>
    <div>
        <div class="col-md-2">
        <label asp-for="Coach.Telefono"></label>
        </div>
        <div class="col-sm-2">
        <input asp-for="Coach.Telefono" class="form-control">
        </div>
        <span asp-validation-for="Coach.Telefono" class="text-danger"></span>
    </div>
    <div>
        <div class="col-md-2">
        <label asp-for="Coach.Correo"></label>
        </div>
        <div class="col-sm-2">
        <input asp-for="Coach.Correo" class="form-control">
        </div>
        <span asp-validation-for="Coach.Correo" class="text-danger"></span>
    </div>
    <div>
        <div class="col-md-2">
        <label asp-for="Coach.Contrasena"></label>
        </div>
        <div class="col-sm-2">
        <input asp-for="Coach.Contrasena" class="form-control">
        </div>
        <span asp-validation-for="Coach.Contrasena" class="text-danger"></span>
    </div>
    <div>
        <div class="col-md-2">
        <label asp-for="Coach.Especialidad"></label>
        </div>
        <div class="col-sm-2">
        <input asp-for="Coach.Especialidad" class="form-control">
        </div>
        <span asp-validation-for="Coach.Especialidad" class="text-danger"></span>
    </div>
    <div>
        <div class="col-md-2">
        <label for="NumeroCertificacion">Numero Certificacion</label>
        </div>
        <div class="col-sm-2">
        <input asp-for="Coach.NumeroCertificacion" class="form-control">
        </div>
        <span asp-validation-for="Coach.NumeroCertificacion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2 offset-sm-2">
                <input type="submit" value="Actualizar" class="btn btn-primary form-control">
            </div>
            <div class="col-sm-2">
                <a class="btn btn-success form-control" asp-page="./Consulta">Regresar</a>
            </div>
        </div>
    </div>
</form>
