@page
@using NutricionApp.Dominio
@model NutricionApp.Frontend.Pages.Coaches.RegistroModel
@{
}
<br />
<h2 class="text-info">Registro Coach</h2>
<div class="border">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text danger"></div>
        <div class="container" style="padding:20px;">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="coach.Identificacion"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="coach.Identificacion" class="form-control" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="coach.Nombre"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="coach.Nombre" class="form-control" required />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="coach.Apellidos"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="coach.Apellidos" class="form-control" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="coach.Telefono"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="coach.Telefono" class="form-control" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="coach.Correo"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="coach.Correo" class="form-control" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="coach.Contrasena"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="coach.Contrasena" class="form-control" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="coach.Especialidad"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="coach.Especialidad" class="form-control" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="Numero Certificacion">Numero Certificacion</label>
                    </div>
                    <div class="col-sm-3">
                        <input asp-for="coach.NumeroCertificacion" class="form-control" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2 offset-sm-2">
                        <button type="submit" class="btn btn-primary">Guardar Datos</button>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-success form-control" asp-page="./Consulta">Atrás</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>