@page
@model NutricionApp.Frontend.Pages.RegistrarseModel
@{
}
<div class="d-flex flex-column ">
    <h1 class="mb-3">Registrarse como</h1><br>

    <a asp-page="/Pacientes/Registro" class="btn btn-secondary col-sm-3 ">Paciente</a><br>
    <a asp-page="/Coaches/Registro" class="btn btn-secondary col-sm-3 ">Coach</a><br>
    <a asp-page="/Nutricionistas/Crear" class="btn btn-secondary col-sm-3 ">Nutricionista</a>
</div>