@page
@model NutricionApp.Frontend.Pages.Pacientes.IndexModel
@{
}
<!-- Esto hay que ajustarlo con Model paciente Id -->
<a asp-page="./Info"  class="btn btn-primary" asp-route-id="1">Datos Personales</a>
<a asp-page="./Actualizar" class="btn btn-primary" asp-route-id="1">Actualizar Datos</a>